body {
	font-family: "Lato", sans-serif;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

h3 {
    font-size: 2.5em;
    text-align: left;
    margin: 0;
    padding: 0 0 .25em;
    line-height: 1;
    font-weight: bold;
}

section {
	background-color: #ececec;
	border-radius: 10px;
	margin: 0 auto 30px;
	padding: 10px 13px 10px;		/* 13 to account for line height on headings */
}

ul {
	margin-bottom: .4em;
}

ul li {
    text-align: left;
    font-size: 1.1em;
    line-height: 1em;
    font-weight: 400;
}

/* gitfa is the fontAwesome github icon */
.gitfa {
	float: right;
	font-size: 4em;
	color: #000;
	display: block;
	line-height: 1;
}

.gitfa:hover, .gitfa:focus {
	font-size: 56px;
	color: #1976d2;
}
