<md-content>
<div class="container">
<div class="row">
	<div class="col-md-10 col-sm-offset-1" ng-repeat="project in projects">

		<section>
			<article class="row">
				<div class="col-xs-10">
					<h3>{{project.name}}</h3>

					<ul ng-repeat="description in project.descriptions">
						<li>{{description}}</li>
					</ul>
				</div>

				<div class="test col-xs-2">
					<a class="gitfa" ng-href={{project.link}}>
							<i class="fa fa-github"></i>
					</a>
				</div>

			</article>

		</section>

	</div>
</div>
</md-content>